<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Color Detection</title>
    <link href="/static/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="logo">
        <a href="/">
            <img alt="logo" src="/images/walk101_logo.png" />
        </a>
    </div>
    <h1 class="title">Color Detection</h1>
    <div class="container">
        <div class="image-section">
            {% if filename %}
            <img alt="Uploaded Image" id="uploadedImage" onclick="getImageColor(event)"
                src="/static/uploaded_images/{{filename}}" style="max-width: 70%; display: block; margin: auto;" />
            {% else %}
            <div class="empty-space">Image</div>
            {% endif %}
            <form action="/upload/" class="upload-form" enctype="multipart/form-data" method="post">
                <input name="file" type="file" />
                <input type="submit" value="Upload" />
            </form>
        </div>
        <div class="info-section">
            <div class="color-box" id="colorDisplay" style="background-color: rgb({{r}}, {{g}}, {{b}});">Color</div>
            <p>R: <span id="displayR">{{r}}</span></p>
            <p>G: <span id="displayG">{{g}}</span></p>
            <p>B: <span id="displayB">{{b}}</span></p>
            <p>Color Name: <span id="colorName">{{color_name}}</span></p>
            <!-- <p>Classification: <span id="classification">{{classification}}</span></p> -->
        </div>
    </div>
</body>
<script>
    const imgElement = document.getElementById('uploadedImage');
    const rElement = document.getElementById('displayR');
    const gElement = document.getElementById('displayG');
    const bElement = document.getElementById('displayB');
    const colorBox = document.getElementById('colorDisplay');
    const colorNameElement = document.getElementById('colorName');
    const classificationElement = document.getElementById('classification');

    imgElement.addEventListener('click', function (event) {
        const x = event.offsetX;
        const y = event.offsetY;
        const canvas = document.createElement('canvas');
        canvas.width = imgElement.width;
        canvas.height = imgElement.height;
        const ctx = canvas.getContext('2d');
        ctx.drawImage(imgElement, 0, 0, canvas.width, canvas.height);
        const imageData = ctx.getImageData(x, y, 1, 1).data;

        rElement.textContent = imageData[0];
        gElement.textContent = imageData[1];
        bElement.textContent = imageData[2];
        colorBox.style.backgroundColor = `rgb(${imageData[0]}, ${imageData[1]}, ${imageData[2]})`;

        // 서버로 색상 데이터를 전송하고 색상 이름과 분류를 받아 놓음
        fetch('/get_color_name', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'r': imageData[0], 'g': imageData[1], 'b': imageData[2] }),
        })
            .then(response => response.json())
            .then(data => {
                // 서버로부터 받은 데이터로 색상 이름과 분류를 업데이트
                colorNameElement.textContent = data.color_name;
                classificationElement.textContent = data.classification;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>

</html>
